{% extends "base.html" %}

{% block contents %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>일시</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                    <tr onclick="location.href='/board/detail/{{ board.id }}'">
                        <th>{{ board.id }}</th>
                        <th>{{ board.title }}</th>
                        <th>{{ board.writer }}</th>
                        <th>{{ board.registered }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button onclick="location.href='/board/write/'">글쓰기</button>
        <button onclick="location.href='/'">돌아가기</button>
    </div>
{% endblock %}